<%- include('partials/header') %>

<div id="helpDisplay" class="display helppage">
<div class="text-div">
  <%= helpText %>
</div>
  <div class="row buttonDiv">
    <div class="col-sm"></div>
    <div class="col-sm">
      <button type="button" name="button" class="helpbutton" onclick="showPropDisplay()">Sure, I'm in.</button>
    </div>
    <div class="col-sm">
      <button type="button" name="button" class="helpbutton" onclick="showPropDisplay()">Let Me In Anyway</button>
    </div>
    <div class="col-sm"></div>


  </div>
</div>

<div id="propDisplay" class="display timerpage">

  <div class="countdown-div container-sm">
    <h1 id='timer'></h1>
  </div>

  <div class="text-div">
    <%= displayText %>
  </div>
</div>

<script src="/js/countdown.js" type="module" charset="utf-8"></script>
<script src="/js/help.js" charset="utf-8"></script>

<%- include('partials/footer') %>
