:root {
  --light-bg: #EEEBDD;
  --bright-red: #CE1212;
  --dark-red: #810000;
  --dark-bg: #1B1717;
  --improv-yellow: #fdca4c;
  --improv-blue: #283449;
}

body {
  background-color: var(--light-bg);
  margin: 1rem;
  text-align: center;
  padding: 16rem, 0;
}

h1 {
  font-size: 4rem;
  border-radius: 20px;
}

p {
  color: var(--dark-red);
  font-size: 1rem;
  font-weight: 900;
}

.header {
  text-align: center;
  padding: 3rem;
  font-family: 'Fugaz One', cursive;
  color: var(--improv-yellow);
  background-color: var(--improv-blue);
}

.buttonDiv {
  text-align: center;
  background-color: var(--improv-blue);
}

.countdown-div {
  background-color: var(--improv-blue);
  color: var(--improv-yellow);
  text-align: center;
}

.propDisplay {
  background-color: var(--improv-blue);
  padding: 0 100%;
}

.text-div {
  color: var(--dark-red);
  font-family: "Yomogi", sans-serif;
  margin: 2rem 0;
}

.helppage {
  display: block;
}
.timerpage {
  display: none;
}

.helpbutton {
   background: var(--improv-blue);
   background-image: -webkit-linear-gradient(top, var(--improv-blue), var(#000));
   background-image: -moz-linear-gradient(top, var(--improv-blue), var(#000));
   background-image: -ms-linear-gradient(top, var(--improv-blue), var(#000));
   background-image: -o-linear-gradient(top, var(--improv-blue), var(#000));000 background-image: -webkit-gradient(to bottom, var(--improv-blue), var(#000));
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: var(--improv-yellow);
   font-family: "Satisfy", Brush Script MT;
   font-size: 40px;
   font-weight: 100;
   padding: 30px 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000;
   -moz-box-shadow: 1px 1px 20px 0 #000;
   box-shadow: 1px 1px 20px 0 #000;
   text-shadow: 1px 1px 20px #000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.helpbutton:hover {
   border: solid var(--improv-blue) 0;
   b000ground: var(#000);
   background-image: -webkit-linear-gradient(top, var(#000), var(--improv-blue));
   background-image: -moz-linear-gradient(top, var(#000), var(--improv-blue));
   background-image: -ms-linear-gradient(top, var(#000), var(--improv-blue));
   background-image: -o-linear-gradient(top, var(#000), var(--improv-blue));
   background-image: -webkit-gradient(to bottom, var(#000), var(--improv-blue));
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
