<p>This is the Help Me Message.

Hey there, I need your help. I am coordinating a first-of-its-kind flash mob proposal, but I need your help.

The way to participate is very simple. Agree to help with the buttons below, and be in the specified location when the countdown clock hits zero. There is nothing else you physically need to do as the flash mob is going to be this website playing an audio file from all of our phones at the same time.

After the flash mob, you can either congratulate us, or go on your merry way but I will be eternally grateful for your help.</p>
