<p>Natalie and I have been together for 4 years and decided to celebrate quite a lot with a cross country roadtrip! A college graduation, 4 years of dating, the vaccine release for Covid-19 as well as making it through the pandemic (so far).

Our trip will started in Mid August and will go until Mid October. We started near NYC, and will be going across the northern edge of the country with stops in Pennsylvania, Ohio, Iowa, Montana and more, until we hit the West Coast.

When we hit the west coast, we turn south and mostly explore California, but very thoroughly. We plan on stopping at as many cities and national parks as we can, including San Francisco, Yellowstone, L.A., Joshua Tree, and Sequoia as well as others.

When we leave California from the southern end, we start making our way diagonally back through the country towards home, making stops including the Grand Canyon, Phoenix Museum of Music, Nashville, Washington D.C., and more.

Along the way we will be stopping at any roadside attraction that catches our eye and documenting our entire trip here and on <a href="www.instagram.com/thatzanytravelcouple">instagram</a>, so follow us on this journey. There will be plenty on surprises along the way.</p>
